<?xml version="1.0"?>
<config>
    <modules>
        <Netsolutions_Swatch>
            <version>1.0.1</version>
        </Netsolutions_Swatch>
    </modules>
    <global>
        <resources>
            <netsolutions_swatch_setup>
                <setup>
                    <module>netsolutions_swatch</module>
                </setup>
            </netsolutions_swatch_setup>
        </resources>
        <models>
             <netsolutions_swatch>
                <class>Netsolutions_Swatch</class>
             </netsolutions_swatch>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <attribute>Netsolutions_Swatch_Model_Catalog_Resource_Eav_Mysql4_Attribute</attribute>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <eav>
                <rewrite>
                    <entity_attribute_source_table>Netsolutions_Swatch_Model_Eav_Entity_Attribute_Source_Table</entity_attribute_source_table>
                </rewrite>
            </eav>
            <eav_mysql4>
                <rewrite>
                    <entity_attribute_option>Netsolutions_Swatch_Model_Eav_Mysql4_Entity_Attribute_Option</entity_attribute_option>
                </rewrite>
            </eav_mysql4>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>Netsolutions_Swatch_Block_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <swatch>
                <class>Netsolutions_Swatch_Helper</class>
            </swatch>
            <cms>
                <rewrite>
                    <wysiwyg_images>Netsolutions_Swatch_Helper_Cms_Wysiwyg_Images</wysiwyg_images>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Netsolutions_Swatch before="Mage_Adminhtml">Netsolutions_Swatch</Netsolutions_Swatch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
                <observers>
                    <update_layout>
                        <class>netsolutions_swatch/observer</class>
                        <method>updateLayout</method>
                    </update_layout>
                </observers>
            </controller_action_layout_render_before_adminhtml_catalog_product_attribute_edit>
        </events>
    </adminhtml>
</config>
